.container {
  height: 100vh;
  width: 100vw;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgb(221 221 221 / 14%);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal {
  background-color: #fff;
  border-radius: 25px;
  width: 400px;
  min-height: 500px;
  display: grid;
  grid-template-columns: 25px 35px auto 35px 25px;
  grid-template-rows: 90px auto;
  grid-template-areas:
    '. g a b .'
    '. c c c .';
  box-shadow:
    0px 2px 1px -1px rgba(0, 0, 0, 0.2),
    0px 1px 1px 0 rgba(0, 0, 0, 0.14),
    0px 1px 3px 0px rgba(0, 0, 0, 0.12);
}
