.content {
  grid-area: 2 / 2 / 4 / 5;
  justify-self: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.img {
  height: 150px;
  width: 150px;
  border-radius: 50%;
}

.text {
  font-weight: 200;
  text-align: center;
  margin-top: 25px;
}

.account {
  font-weight: 500;
}

.closeButton {
  width: 50%;
  border-radius: 25px !important;
  margin-top: 40px !important;
}
