.content {
  grid-area: 2 / 2 / 4 / 5;
  justify-self: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.icon {
  margin-top: 20px;
}

.progressWrapper {
  display: flex;
  align-items: center;
  margin-top: 100px;
}
.progressWrapper > span {
  color: rgb(79, 124, 209);
  font-size: 16px;
  font-weight: 500;
  margin-left: 8px;
}

.title {
  font-size: 13px;
  margin-top: 20px;
  font-weight: 500;
}

.error {
  font-size: 14px;
  margin-top: 50px;
  font-weight: 500;
  color: #d35d72ff;
  text-align: center;
  max-width: 90%;
}