.content {
  grid-area: 2 / 2 / 4 / 5;
  justify-self: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.icon {
  margin-top: 20px;
}

.error {
  font-size: 14px;
  margin-top: 50px;
  font-weight: 500;
  color: #d35d72ff;
  text-align: center;
  max-width: 90%;
}

.retryButton {
  width: 50%;
  border-radius: 25px !important;
  margin-top: 40px !important;
}
