.content {
  grid-area: 2 / 2 / 4 / 5;
  justify-self: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.icon {
  width: 220px;
}

.status {
  text-align: center;
  margin-top: 10px;
  color: #40916c;
}

.details {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin-top: 25px;
  font-size: 10px;
}

.link {
  font-size: 10px;
  font-weight: 500;
  margin-top: 5px;
  color: #1976d2;
}

.closeButton {
  width: 50%;
  border-radius: 25px !important;
  margin-top: 30px !important;
}
